* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

* body {
  background-color: #1f2326;
}

.container-header {
  width: 100%;
  height: 80px;
  background-color: #1f2326;
}

.container-header .content-header {
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: auto;
}

.container-header .content-header .name {
  color: #197462;
}

.container-header .content-header .name p {
  font-size: 2.0rem;
  font-weight: 600;
}

.container-header .content-header .nameMobile {
  display: none;
  color: #197462;
}

.container-header .content-header .nameMobile p {
  font-size: 2.0rem;
  font-weight: 600;
}

.container-header .content-header .menu a i {
  display: none;
}

.container-header .content-header .menu .nav-menu ul {
  display: inline-flex;
}

.container-header .content-header .menu .nav-menu ul li {
  padding: 0px 10px;
}

.container-header .content-header .menu .nav-menu ul li a {
  font-size: 1.250rem;
  color: #aaa;
  font-weight: 500;
}

@media screen and (max-width: 450px) {
  .container-header .content-header .name {
    display: none;
  }
  .container-header .content-header .nameMobile {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .container-header .content-header .menu a {
    color: #197462;
  }
  .container-header .content-header .menu a i {
    font-size: 2rem;
    display: block;
  }
  .container-header .content-header .menu .nav-menu {
    display: none;
    background-color: #333;
    margin: 0px;
    padding: 20px 0px;
    position: fixed;
    width: 40%;
    height: 250px;
    top: 0px;
    right: 0px;
    z-index: 2;
  }
  .container-header .content-header .menu .nav-menu ul {
    width: 100%;
    position: absolute;
    display: block;
  }
  .container-header .content-header .menu .nav-menu ul li {
    width: 100%;
    height: 32px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
  }
  .container-header .content-header .menu .nav-menu ul li a {
    color: #ddd;
  }
  .container-header .content-header .menu .nav-menu ul li:hover {
    background-color: #197462;
  }
  .container-header .content-header .menu:hover .nav-menu {
    display: flex;
  }
}

.hero-container {
  width: 100%;
  background-image: url(../image/kb.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container .hero {
  max-width: 1200px;
  height: 600px;
  margin: auto;
}

.hero-container .hero .hero-content {
  padding: 80px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container .hero .hero-content .container-photo {
  width: 450px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.hero-container .hero .hero-content .container-photo .photo-config {
  position: absolute;
  top: 0px;
  align-self: center;
}

.hero-container .hero .hero-content .container-photo .photo-config img {
  width: 300px;
  border: 10px solid #12c09f;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 15px rgba(33, 107, 100, 0.7);
}

.hero-container .hero .hero-content .container-photo .photo-background {
  width: 100%;
  height: 70%;
  background-color: #252a30;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.8);
}

.hero-container .hero .hero-content .container-photo .photo-background .character-name {
  width: 100%;
}

.hero-container .hero .hero-content .container-photo .photo-background .character-name p {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  color: #ddd;
}

.hero-container .hero .hero-content .container-photo .photo-background .character-work {
  width: 100%;
}

.hero-container .hero .hero-content .container-photo .photo-background .character-work p {
  font-weight: 600;
  text-align: center;
  color: #ddd;
}

.hero-container .hero .hero-content .container-photo .hero-icons {
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.hero-container .hero .hero-content .container-photo .hero-icons .icons-config {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.hero-container .hero .hero-content .container-photo .hero-icons .icons-config a {
  color: #ddd;
}

.hero-container .hero .hero-content .container-photo .hero-icons .icons-config a i {
  font-size: 1.250rem;
}

@media screen and (max-width: 768px) {
  .hero-container .hero .hero-content .container-photo {
    height: 400px;
  }
  .hero-container .hero .hero-content .container-photo .photo-config img {
    width: 250px;
  }
  .hero-container .hero .hero-content .container-photo .hero-icons {
    width: 80%;
  }
}

.about-background {
  box-shadow: inset 0px 0px 40px -10px #000000;
}

.about-background .about-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 40px 40px;
}

.about-background .about-container .about-title {
  text-align: center;
}

.about-background .about-container .about-title p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #ddd;
}

.about-background .about-container .about-title img {
  width: 150px;
  height: 10px;
  border-radius: 5px;
}

.about-background .about-container .about-text {
  padding-top: 40px;
}

.about-background .about-container .about-text p {
  font-size: 1.2rem;
  color: #ddd;
}

.about-background .about-container .about-text p span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #197462;
}

.about-details-container {
  max-width: 1200px;
  width: 100%;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.about-details-container .about-details {
  width: 30%;
}

.about-details-container .about-details .about-details-title p {
  font-size: 1.8rem;
  color: #ddd;
}

.about-details-container .about-details .about-details-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.about-details-container .about-details .about-details-text p {
  color: #ddd;
}

.about-details-container .about-details .about-details-text p span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #197462;
}

.about-details-container .interests-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.about-details-container .interests-container p {
  padding-left: 20px;
  font-size: 1.8rem;
  color: #ddd;
}

.about-details-container .interests-container .interests {
  padding: 20px 0px;
  display: flex;
  flex-flow: wrap;
}

.about-details-container .interests-container .interests div {
  display: flex;
  justify-content: center;
  width: 25%;
  margin-bottom: 20px;
}

.about-details-container .interests-container .interests div i {
  font-size: 3.5rem;
  color: #ddd;
}

@media screen and (max-width: 768px) {
  .about-details-container {
    flex-direction: column;
  }
  .about-details-container .about-details {
    width: 100%;
  }
  .about-details-container .about-details .about-details-text {
    padding-top: 20px;
  }
  .about-details-container .about-details .about-details-text p {
    font-size: 1rem;
  }
  .about-details-container .about-details .about-details-text p span {
    font-size: 1rem;
  }
  .about-details-container .interests-container {
    width: 100%;
    padding-top: 40px;
  }
  .about-details-container .interests-container p {
    padding-left: 0px;
  }
  .about-details-container .interests-container .interests div i {
    font-size: 2.5rem;
  }
}

.container-skills {
  width: 100%;
  height: 400px;
}

.container-skills .skills-title {
  padding: 10px 40px;
  width: 100%;
  text-align: center;
}

.container-skills .skills-title p {
  color: #ddd;
  font-size: 2.5rem;
}

.container-skills .skills-title img {
  width: 60px;
  height: 10px;
  border-radius: 5px;
}

.container-skills .content-skills {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.container-skills .content-skills .left, .container-skills .content-skills .right {
  width: 40%;
}

.container-skills .content-skills .left div, .container-skills .content-skills .right div {
  width: 100%;
}

.container-skills .content-skills .left div p, .container-skills .content-skills .right div p {
  color: #ddd;
  font-size: 1.8rem;
  padding-bottom: 10px;
}

.container-skills .content-skills .left div img, .container-skills .content-skills .right div img {
  width: 100%;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .container-skills .content-skills {
    flex-direction: column;
  }
  .container-skills .content-skills .left, .container-skills .content-skills .right {
    width: 100%;
  }
}
